*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
#navbar{
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
}
#navbar #navbar-container{
  width: 80%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;

}
#navbar #navbar-container .logo{
  height: 4vh;  
  width: auto;
  display: flex;

}
#navbar #navbar-container ul{
  display: flex;
  list-style: none;
  font-weight: bold;

}
#navbar #navbar-container ul li{
padding: 0 2vw;

}
#navbar #navbar-container ul li:nth-child(3) {
border-right: 1px solid white;

}